$pathImages: '/assets/img/'

.container .mat-form-field + .mat-form-field
  margin-left: 8px

.right-align
  text-align: right

.title
  font: 500 45px/32px Dancing Script, sans-serif !important

.register
  background-image: url($pathImages + "background-dog.jpg")
  background-position: center
  background-size: cover
  width: 100%
  height: 90vh

.register-container
  width: 40%
  margin-left: 80px
  padding: 20vh 0 0 0

mat-card
  padding: 70px 30px 40px 30px

mat-form-field
  width: 75%

.center
  text-align: center

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button
  display: none


input.example-right-align
  -moz-appearance: textfield

.forget-password
  color: rgba(149, 144, 144, 0.73)
  font-style: italic

.login-btn
  margin: 20px

