<div class="center register">
  <div class="register-container">
    <h2 class="title">My Pets.</h2>
    <mat-card>
      <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="Votre prénom" [(ngModel)]="user.firstName" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Votre nom" [(ngModel)]="user.lastName" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="pat@example.com" [(ngModel)]="user.email" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Téléphone</mat-label>
        <input type="phone" matInput placeholder="0612121212" [(ngModel)]="user.phone">
      </mat-form-field>
      <button mat-raised-button class="register-btn" (click)="register()">S'inscrire</button>
    </mat-card>
  </div>
</div>
