<div  *ngIf="pet$ | async as pet">
  <h3>{{ pet.name }}</h3>
  <div>
    <label>Type: </label>{{ service.getPetTypeString(pet.type) }}
  </div>
  <p>
    <button mat-raised-button (click)="gotoPets(pet)">Back</button>
    <button mat-raised-button color="primary" (click)="gotoPets(pet)">Edit</button>
  </p>
</div>
