<h2>PETS</h2>
<div *ngIf="step1">
  <h3>Vermifuge</h3>
  <div>
    <mat-label>A quelle fréquence ?</mat-label>
    <mat-chip-list aria-label="Selection de la fréquence">
      <mat-chip>1 mois</mat-chip>
      <mat-chip>2 mois</mat-chip>
      <mat-chip>4 mois</mat-chip>
      <mat-chip>6 mois</mat-chip>
      <mat-chip>1 an</mat-chip>
      <mat-chip>autre</mat-chip>
    </mat-chip-list>

    <mat-label>Dernier en date ?</mat-label><br/>
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <br/>

    <mat-slide-toggle [(ngModel)]="notifyMeForVermifuge">Me notifier</mat-slide-toggle>
    <div *ngIf="notifyMeForVermifuge">
      <mat-slide-toggle >Email</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="notifyMeForVermifugeBySms">Sms</mat-slide-toggle>
      <mat-slide-toggle>Notification</mat-slide-toggle>

      <br/>

      <mat-form-field *ngIf="notifyMeForVermifugeBySms">
        <mat-label>Telephone</mat-label>
        <span matPrefix>+33 &nbsp;</span>
        <input type="tel" matInput placeholder="6 12 12 12 12">
      </mat-form-field>
    </div>
  </div>
  <div class="button-footer">
    <button mat-raised-button color="primary" (click)="step1=false;step2=true">Suivant</button>
  </div>
</div>

<div *ngIf="step2">
  <h3>Anti-Parasitaire</h3>
  <div>
      <mat-label>A quelle fréquence ?</mat-label>
      <mat-chip-list aria-label="Selection de la fréquence">
        <mat-chip>1 mois</mat-chip>
        <mat-chip>2 mois</mat-chip>
        <mat-chip>4 mois</mat-chip>
        <mat-chip>6 mois</mat-chip>
        <mat-chip>1 an</mat-chip>
        <mat-chip>autre</mat-chip>
      </mat-chip-list>

    <mat-label>Dernier en date ?</mat-label><br/>
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <br/>

    <mat-slide-toggle [(ngModel)]="notifyMeForAntiParasitaire">Me notifier</mat-slide-toggle>
    <div *ngIf="notifyMeForAntiParasitaire">
      <mat-slide-toggle>Email</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="notifyMeForAntiParasitaireBySms">Sms</mat-slide-toggle>
      <mat-slide-toggle>Notification</mat-slide-toggle>

      <br/>

      <mat-form-field *ngIf="notifyMeForAntiParasitaireBySms">
        <mat-label>Telephone</mat-label>
        <span matPrefix>+33 &nbsp;</span>
        <input type="tel" matInput placeholder="6 12 12 12 12">
      </mat-form-field>
  </div>
  <div class="button-footer">
    <button mat-raised-button color="primary" (click)="step2=false;step3=true">Suivant</button>
  </div>
</div>
</div>

<div *ngIf="step3">
  <h3>Vaccin</h3>
  <div>
      <mat-label>A quelle fréquence ?</mat-label>
      <mat-chip-list aria-label="Selection de la fréquence">
        <mat-chip>1 mois</mat-chip>
        <mat-chip>2 mois</mat-chip>
        <mat-chip>4 mois</mat-chip>
        <mat-chip>6 mois</mat-chip>
        <mat-chip>1 an</mat-chip>
        <mat-chip>autre</mat-chip>
      </mat-chip-list>

    <mat-label>Dernier en date ?</mat-label><br/>
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <br/>

    <mat-slide-toggle [(ngModel)]="notifyMeForVaccin">Me notifier</mat-slide-toggle>
    <div *ngIf="notifyMeForVaccin">
      <mat-slide-toggle >Email</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="notifyMeForVaccinBySms">Sms</mat-slide-toggle>
      <mat-slide-toggle>Notification</mat-slide-toggle>

      <br/>

      <mat-form-field *ngIf="notifyMeForVaccinBySms">
        <mat-label>Telephone</mat-label>
        <span matPrefix>+33 &nbsp;</span>
        <input type="tel" matInput placeholder="6 12 12 12 12">
      </mat-form-field>
  </div>
  <div class="button-footer">
    <button mat-raised-button color="primary">Suivant</button>
  </div>
</div>
</div>
