<div class="center login">
  <div class="login-container">
  <h2 class="title">My Pets.</h2>
  <mat-card>
      <div *ngIf="!authService.isLoggedIn">
        <mat-form-field>
          <mat-label>Entrer votre email</mat-label>
          <input matInput [(ngModel)]="username" placeholder="pat@example.com" required>
        </mat-form-field>
      </div>
      <div *ngIf="!authService.isLoggedIn"  class="container">
        <mat-form-field>
          <mat-label>Entrer votre mot de passe</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    <div class="row">
        <button mat-raised-button class="login-btn" (click)="login()" *ngIf="!authService.isLoggedIn">Se connecter</button>
    </div>
    <div class="row">
      <button mat-button routerLink="/register" routerLinkActive="active" *ngIf="!authService.isLoggedIn">S'inscrire</button>
    </div>
    <div class="row">
      <button mat-raised-button (click)="logout()" *ngIf="authService.isLoggedIn">Se déconnecter</button>
    </div>
    <div class="row">
      <span class="forget-password" *ngIf="!authService.isLoggedIn">Mot de passe oublié ?</span>
    </div>
  </mat-card>
  </div>
</div>
