.card
  max-width: 400px
  margin: 0 auto

.header-image
  background-image: url('https://media.istockphoto.com/photos/confident-businesswoman-over-gray-background-picture-id682897825?k=6&m=682897825&s=612x612&w=0&h=5H83yEz_b9qOdwxZVKlXQXH_rf4vfyDUig3DUG30u9Y=')
  background-size: cover
  background-position: center
