<h2>Profile</h2>
<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
    <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
    <mat-card-subtitle>{{user.phone}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button>Edit</button>
  </mat-card-actions>
</mat-card>
