<h2>My Professionals</h2>
<ul class="professionals">
  <li *ngFor="let professional of professionals" (click)="onSelect(professional)">
    <span class="badge">{{professional.id}}</span> {{professional.name | uppercase}}
  </li>
</ul>

<!--<app-professional-detail [professional]="selectedProfessional"></app-professional-detail>-->
