/* PetListComponent's private CSS styles */
.card
  max-width: 400px
  margin: 0 auto

.header-image
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')
  background-size: cover

.pets
  margin: 0 0 2em 0
  list-style-type: none
  padding: 0
  width: 15em

.pets li
  position: relative
  cursor: pointer
  background-color: #EEE
  margin: .5em
  padding: .3em 0
  height: 1.6em
  border-radius: 4px


.pets li:hover
  color: #607D8B
  background-color: #DDD
  left: .1em


a
  text-decoration: none
  position: relative
  display: block

.pets .badge
  display: inline-block
  font-size: small
  color: white
  padding: 0.8em 0.7em 0 0.7em
  background-color: #607D8B
  line-height: 1em
  position: relative
  left: -1px
  top: -4px
  height: 1.8em
  min-width: 16px
  text-align: right
  margin-right: .8em
  border-radius: 4px 0 0 4px

.add-btn
  position: fixed
  right: 35px
  bottom: 15px

button
  background-color: #eee
  border: none
  cursor: pointer
  font-family: Arial, sans-serif


button:hover
  background-color: #cfd8dc


button.delete
  position: relative
  left: 194px
  top: -32px
  background-color: gray !important
  color: white


.pets li.selected
  background-color: #CFD8DC
  color: white

.pets li.selected:hover
  background-color: #BBD8DC
