<h2>PETS</h2>

<mat-card>
  <div *ngIf="pets$ | async as pets">
    <div *ngFor="let pet of pets">
      <a [routerLink]="['/pets', pet.id]">
        <div mat-card-avatar class="header-image"></div>
        <mat-card-subtitle>{{pet.name}}</mat-card-subtitle>
      </a>
    </div>

    <div *ngIf="0 === pets.length" >
      <p>
        Vous n'avez pas encore ajouté d'animal.
      </p>
    </div>
  </div>

  <button routerLink="/pets/add" mat-fab class="add-btn" color="primary" aria-label="Ajouter un animal">
    <mat-icon>add</mat-icon>
  </button>
</mat-card>
