<p *ngIf="userIsLogged">
  <mat-toolbar>
    <span class="title">{{title}}</span>
    <span class="spacer"></span>

    <div *ngIf="userIsLogged">
      <button mat-button routerLink="/professionals" routerLinkActive="active"><mat-icon>person_pin_circle</mat-icon>My Professionals</button>
      <button mat-button routerLink="/pets" routerLinkActive="active"><mat-icon>pets</mat-icon>My Pets</button>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/login" routerLinkActive="active" *ngIf="!userIsLogged">Login</button>
      <button mat-menu-item routerLink="/profile" routerLinkActive="active" *ngIf="userIsLogged">Profile</button>
      <button mat-menu-item routerLink="/login" routerLinkActive="active" *ngIf="userIsLogged">Logout</button>
    </mat-menu>
  </mat-toolbar>
</p>

<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
