<h2>PETS</h2>
<div>
  <h3>J'ajoute mon animal </h3>
  <mat-form-field >
    <mat-label>Son nom</mat-label>
    <input matInput placeholder="Son nom" required>
  </mat-form-field>
  <div>
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile>
        <img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
        <mat-grid-tile-footer>
          Chien
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="https://www.wanimo.com/veterinaire/wp-content/uploads/2018/11/chat-jaloux-e1574672723199@2x.jpg">
        <mat-grid-tile-footer>
          Chat
        </mat-grid-tile-footer>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="https://resize.prod.docfr.doc-media.fr/rcrop/600,315,center-middle/img/var/doctissimo/storage/images/fr/www/forme/equitation/la-relation-du-cheval-a-l-homme/65100-2-fre-FR/la-relation-du-cheval-a-l-homme.jpg">
        <mat-grid-tile-footer>
          Cheval
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="button-footer">
    <button routerLink="/pets/add/details" mat-raised-button>Compléter sa fiche détaillée (facultatif)</button>
    <button routerLink="/pets/add/follow-up" mat-raised-button color="primary">Passer au suivi</button>
  </div>
</div>
