<h2>PETS</h2>
<div>
  <h3>Information sur </h3>
  <mat-form-field >
    <mat-label>Son nom</mat-label>
    <input matInput placeholder="Son nom" required>
  </mat-form-field>
  <p>
    Avatar
    <br/>
<!--    https://www.eduforbetterment.com/file-upload-using-material-components-in-angular/-->
    <input type="file" #fileInput id="uploadFile" name="uploadFile" multiple="multiple"
           accept="image/*" />
  </p>
  <mat-form-field >
    <mat-label>Date de naissance</mat-label>
    <input matInput type="month" placeholder="Mois" required>
  </mat-form-field>

  <br/>

  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Male</mat-radio-button>
    <mat-radio-button value="2">Femelle</mat-radio-button>
  </mat-radio-group>

  <mat-form-field >
    <mat-label>Race</mat-label>
    <input matInput placeholder="Race" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Couleur/Robe</mat-label>
    <select matNativeControl>
      <option value="marron">Marron</option>
      <option value="saab">Noir</option>
      <option value="mercedes">Isabelle</option>
      <option value="audi">Bai</option>
    </select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Taille</mat-label>
    <input matInput maxlength="5" placeholder="Ex. 50">
    <mat-hint align="end">cm</mat-hint>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Poids</mat-label>
    <input matInput maxlength="5" placeholder="Ex. 50" >
    <mat-hint align="end">kg</mat-hint>
  </mat-form-field>

  <div class="button-footer">
    <button routerLink="/pets/add" mat-raised-button>Retour</button>
    <button routerLink="/pets/add/follow-up" mat-raised-button color="primary">Passer au suivi</button>
  </div>
</div>
