button
  background-color: #eee
  border: none
  padding: 5px 10px
  border-radius: 4px
  cursor: pointer
  font-family: Arial, sans-serif


button:hover
  background-color: #cfd8dc

.button-footer
  margin-top: 50px
  display: flex
  justify-content: space-around
  flex-wrap: wrap
